# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# Environment
.env

# Database
*.db

# Logs
*.log

# Alembic
alembic/versions/*.pyc